## 1. In the below elements which of them are values or an expression?  eg:- values can be              integer or string and expressions will be mathematical operators.

1  *    = Operators

2  'hello'  = Values

3  -87.8  =  Values

4   -    =  Operators

5    /    =  Operators

6   +	   = Operators

7,   6     =  Value

## 2. What is the difference between string and variable?

-> String is a type of information which we can store in a variable.

   Strings are declared by writing the information within "  ",

   For example:- "My name is Aniket"


-> Variable is a named location where data/information are store in a memory.

Variables are declared by writing the variable name and assigning it a value using the equals sign (=). 

For example:

name = "Aniket"

Here name is variable in which data is store "Aniket"

## 3. Describe three different data types.


The three different data types are:-

(i) - str() "Strings"

-> String is a collection of character, which is use to store the text/characters.

String can be dispaly by either single or double quatation marks.

For example : "This is my first assignment"

(ii) - Int()  "Integers"

-> Integers is a numeric data type which  used to store  the number, it can be zero, negative or positive. 

For example : 0, 78, -45

(3) -  Float() "Floating "

-> Floating is also a numeric data type which is used to store the decimal values or fractional number.

For Example:- 145.8 , 7638.9

## 4. What is an expression made up of? What do all expressions do?

-> Expression is the combination of variables, operators and operands.

-> Expression is used to produce value or result after being interpreted by python interpreter.

## 5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

-> Expression is the combination of variables, operators and operands

-> Expression is used to produce value or result after being interpreted by python interpreter.


-> Statement is an instruction that the Python interpreter can execute.

-> statement are used to carry out actions and control the flow of a program.

-> An assignment statement sets the current value of a variable.
   For example:- spam = 10

## 6. After running the following code, what does the variable bacon contain?
#### bacon = 22
#### bacon + 1

In [7]:
bacon = 22

bacon + 1

bacon = bacon + 1

print (bacon)

# If we print bacon it will return 22, and if we print bacon + 1 then it will print 23.
# If we assign bacon + 1 to bacon like bacon = bacon + 1, then bacon will return 23

23

## 7. What should the values of the following two terms be?
####  'spam' + 'spamspam'
####  'spam' * 3

In [9]:
'spam' + 'spamspam'

'spamspamspam'

In [11]:
'spam'*3

# In both expression they evaluate the same string three times spam like:- ('spamspamspam')

'spamspamspam'

## 8. Why is eggs a valid variable name while 100 is invalid?

-> 100 is invalid because variable name can't start with a number.

-> While eggs a valid variable because it starts with alphabet.

-> For a valid varaible name it should always starts with any 
    alphabet, underscore except any digits

## 9. What three functions can be used to get the integer, floating-point number, or string version of a value?

-> The following functions is used to get the integer, floating-point number, or string version of a value
   
-> integer - int()

-> floating_point number - float()

-> string - str()

## 10. Why does this expression cause an error? How can you fix it?
###   'I have eaten ' + 99 + ' burritos.'

In [18]:
'I have eaten ' + 99 + ' burritos.'

# The above expression cause an error becaause it is concatenating string to integer, which is not a valid expression.
# If we have to fix it we have to conevert the integer 99 to a string like '99'

TypeError: can only concatenate str (not "int") to str

In [20]:
# So the valid expression will be 

'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'